* {
  margin: 0;
  padding: 0;
}
nav img {
  width: 25px;
  height: 25px;
}
nav {
  display: flex;
  background-color: black;
  color: white;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
}
nav ul {
  display: flex;
  gap: 25px;
}
ul li {
  list-style: none;
}

.background {
  height: 500px;
  width: 100vw;
  background-image: url(bgs.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  margin: auto;
}
.background h3 p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
  margin-top: 100px;
}
.card {
  width: 325px;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
}
.card img {
  width: 100%;
  height: auto;
}
.card-content {
  padding: 16px;
}
.card-content h3 {
  font-size: 28px;
  margin-bottom: 8px;
}
.card-content p {
  color: black;
  font-size: 15px;
  line-height: 1.3;
}
.card-content .btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: rgb(82, 196, 82);
  text-decoration: none;
  border-radius: 50px;
  margin-top: 16px;
  color: #f0f0f0;
}
footer{
    background-color: rgb(57, 55, 55);
    padding: 10px;
    text-align: center;
    color: #f0f0f0;
}